<!DOCTYPE html>
<html>
    <head>
        <title>
            Error
        </title>
        <link rel="stylesheet" href="../static/error.css">
        <meta charset="UTF-8">
        <script>
            function goBack() {
              window.history.back();
            }
            </script>
    </head>
    <body>
        <div class="centered_content">
            <h1>Response 404. An Error Occured :(</h1>
            <h2>There might be some broken function or page requested does not exist</h2><br>
            <button class="entry" onclick="goBack()">Go Back</button>
            <button class="entry" onclick="window.location.href='/dashboard'">Go Home</button>
        </div>
    </body>
</html>